@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Serif+Tamil:wght@300&display=swap');

:root {
  /* background-image: url(https://garden.spoonflower.com/c/4038500/p/f/m/hV12_nkq63YE2e7s0XwYGjVOYeyyvc65dR3bg0VpcRbuZg2pfmM/Spoons.jpg); */
  /* background-size:contain; */
  background-color: rgb(255, 212, 197);
}


.main {
  background-image: url(./components/images/fruit.jpeg);
  background-size: cover;
  padding-bottom: 2%;
  display: grid;
  height: fit-content;
  position: relative;
}

h1 {
  font-family: 'Lobster', cursive;
  color: rgb(227, 193, 0);
  font-size: 30px;
  text-align: center;
  text-shadow: 0 5px 10px rgb(0, 0, 0);
  
}

.header {
  width: 100%;
  display: grid;
  height: fit-content;
  background-color: white;
}

.nav {
  background-color: red;
  padding-left: 3%;
  padding-right: 3%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  position: center;
  border: 2px solid black;
  
}

#sub-title {
  font-family: 'Noto Serif Tamil', serif;
  font-size: 50px;
}

#searchbar {
  width: 500px;
  height: 40px;
  border-left: none;
  border-right: none;
  border-radius: 10px !important;
  
}

.search-all {
  display: flex;
  justify-content: center;
  
}

#noresult-div {
  display: grid;
  justify-content: center;
  font-weight: bolder;
  font-size: larger;
}

#no-result {
  background-color: rgb(227, 193, 0);
}

.popup {
  display: inline-block;
  margin: 20px;
  width: 230px;
  height: 350px;
  padding-top: 2%;
  background-color: rgb(251, 185, 161);
  border-radius: 10px !important;
  box-shadow: 0 5px 10px rgb(126, 82, 69);
  }
.popup:hover {
background-color: rgb(249, 152, 117);
box-shadow: 0 5px 10px rgb(17, 14, 14);
}
 
  .popup-text {
width: 230px;
height: 150px;
font-weight: bolder;
display: grid;
text-align: center;

  }

  .img {
    display: flex;
  justify-content: center;
    
  }

  .pop-img{
    padding-top: 5%;
  }

  .thumb {
    border-radius: 10px !important;
    border: 1px rgb(227, 98, 51) solid;
  }

  .row {
    min-height: fit-content;
    width: fit-content;
  }

.window {
  display: grid;
  justify-content:center;
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 2%;
  margin-left: 9%;
  height:100%;
  width: 800px;
  position: static;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgb(227, 98, 51);
  align-items: center;
  
}

.window:hover {
  overflow-y: hidden;
  position:static;
  
}

.overlay {
  background-color: rgba(0, 0, 0, 0.089);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display:flex;
  justify-content:center;
  align-items: center;
}



.window:hover {
  overflow: scroll;
}

.inner-div {
  display:grid;
  justify-content:center;
  align-content: center;
}

.inner-img {
  width: 100%;
  display:grid;
  justify-content:center;
  align-content: center;
}

a {
  padding-bottom: 5%;
}

li {
  list-style: none;
}

/* #close {
  background-color: rgb(249, 249, 249);
  border-radius: 10px !important;
  position: right;
  width:fit-content;
} */

/* #close:hover {
  box-shadow: 0px 0px 10px 5px rgb(227, 193, 0);
} */

